In [ ]:
##Pythonで株価のデータ分析｜株価分析を通してPythonでのデータ分析を学びましょう
##https://www.youtube.com/watch?v=0-fZ47QudYo

#Pandas DataReaderをインストール
!pip install pandas_datareader

In [1]:
#必要なパッケージをインポート
from pandas_datareader import data
import pandas as pd
import matplotlib.pyplot as plt

#ワーニング抑止
%matplotlib inline
# pd.core.common.is_list_like = pd.api.types.is_list_like

In [2]:
#期間設定
start = '2015-06-01'
end = '2020-07-01'

#日経225平均を取得
df = data.DataReader('^N225', 'yahoo', start, end)

In [ ]:
#先頭10件表示
df.head(10)

In [ ]:
#INDEX表示
df.index

In [ ]:
#X軸、Y軸のデータを取得
date = df.index
price = df['Adj Close']

In [ ]:
#グラフを描画
plt.plot(date, price)

In [ ]:
##グラフ描画（オプション指定）
#グラフサイズ
plt.figure(figsize=(30, 10))
#グラフを描画
plt.plot(date, price, label='Nikkei225')
#グラフのスタイル
plt.title('N225', color='blue', backgroundcolor='white', size=40, loc='center')
plt.xlabel('date', color='black', size=30)
plt.ylabel('price', color='black', size=30)

#グラフ描画
plt.legend()

In [ ]:
#移動平均を求める
span01=5
span02=25
span03=50
df['sma01'] = price.rolling(window=span01).mean()
df['sma02'] = price.rolling(window=span02).mean()
df['sma03'] = price.rolling(window=span03).mean()

In [ ]:
#全行表示出来るようする
pd.set_option('display.max_rows', None)
#df
df.head(20)

In [ ]:
#グラフ描画(移動平均線をグラフに追加)
plt.figure(figsize=(30, 10))
plt.plot(date, price, label='Nikkei225', color='#99b898')
plt.plot(date,df['sma01'], label='sma01', color='#e84a5f')
plt.plot(date,df['sma02'], label='sma02', color='#ff847c')
plt.plot(date,df['sma03'], label='sma03', color='#feceab')

plt.title('N225', color='blue', backgroundcolor='white', size=40, loc='center')
plt.xlabel('date', color='black', size=30)
plt.ylabel('price', color='black', size=30)

plt.legend()

In [ ]:
#出来高のグラフを描画
plt.figure(figsize=(30,10))
plt.bar(date, df['Volume'], label='Volume', color='grey')

plt.legend()

In [ ]:
## N225,移動平均,出来高を一緒に表示してみる
#全体サイズ
plt.figure(figsize=(30,15))

#グラフ-１
plt.subplot(2,1,1)   # 縦分割数, 横分割数, 配置位置
plt.plot(date, price, label='Nikkei225', color='#99b898')
plt.plot(date,df['sma01'], label='sma01', color='#e84a5f')
plt.plot(date,df['sma02'], label='sma02', color='#ff847c')
plt.plot(date,df['sma03'], label='sma03', color='#feceab')
plt.legend()

#グラフ-2
plt.subplot(2,1,2)
plt.bar(date, df['Volume'], label='Volume', color='grey')
plt.legend()

In [3]:
# ここからSQLITE３でDBを作ってみよう

import sqlite3

In [4]:
dbname = 'STOCK.db'
conn = sqlite3.connect(dbname)
df.to_sql('N225', conn, if_exists = 'replace')
# Option => if_exists　: append, replace, fail
conn.close()

In [5]:
conn = sqlite3.connect(dbname)
df_db = pd.read_sql('SELECT * FROM N225', conn)
conn.close()

In [6]:
df_db.tail()

,Date,High,Low,Open,Close,Volume,Adj Close
1240,2020-06-25 00:00:00,22423.410156,22165.140625,22287.869141,22259.789062,80800.0,22259.789062
1241,2020-06-26 00:00:00,22589.140625,22408.269531,22424.369141,22512.080078,66600.0,22512.080078
1242,2020-06-29 00:00:00,22281.380859,21969.589844,22255.050781,21995.039062,73700.0,21995.039062
1243,2020-06-30 00:00:00,22448.300781,22273.380859,22335.099609,22288.140625,74200.0,22288.140625
1244,2020-07-01 00:00:00,22360.310547,22039.560547,22338.300781,22121.730469,67400.0,22121.730469

In [7]:
sql = '''
select * from N225
where Date between '2020-05-01 00:00:00' 
  and  '2020-07-01 00:00:00'
'''

In [8]:
conn = sqlite3.connect(dbname)
df_vlm = pd.read_sql(sql, conn)
conn.close()

In [9]:
df_vlm

,Date,High,Low,Open,Close,Volume,Adj Close
0,2020-05-01 00:00:00,20000.250000,19551.730469,19991.970703,19619.349609,86600.0,19619.349609
1,2020-05-07 00:00:00,19720.869141,19448.929688,19468.519531,19674.769531,82900.0,19674.769531
2,2020-05-08 00:00:00,20179.089844,19894.580078,19972.089844,20179.089844,82200.0,20179.089844
3,2020-05-11 00:00:00,20534.880859,20285.039062,20333.730469,20390.660156,76200.0,20390.660156
4,2020-05-12 00:00:00,20457.369141,20293.970703,20413.230469,20366.480469,67700.0,20366.480469
5,2020-05-13 00:00:00,20329.890625,20056.460938,20140.919922,20267.050781,79500.0,20267.050781
6,2020-05-14 00:00:00,20185.000000,19902.929688,20140.490234,19914.779297,76900.0,19914.779297
7,2020-05-15 00:00:00,20198.250000,19832.880859,20149.789062,20037.470703,75200.0,20037.470703
8,2020-05-18 00:00:00,20197.589844,19999.099609,20097.619141,20133.730469,71900.0,20133.730469
9,2020-05-19 00:00:00,20659.460938,20433.449219,20469.519531,20433.449219,93000.0,20433.449219
10,2020-05-20 00:00:00,20684.460938,20454.029297,20454.490234,20595.150391,71800.0,20595.150391
11,2020-05-21 00:00:00,20734.910156,20503.869141,20692.589844,20552.310547,62900.0,20552.310547
12,2020-05-22 00:00:00,20615.119141,20334.990234,20583.949219,20388.160156,71100.0,20388.160156
13,2020-05-25 00:00:00,20741.650391,20584.060547,20653.410156,20741.650391,55100.0,20741.650391
14,2020-05-26 00:00:00,21328.339844,20918.109375,20927.960938,21271.169922,87200.0,21271.169922
15,2020-05-27 00:00:00,21475.679688,21142.720703,21249.310547,21419.230469,112000.0,21419.230469
16,2020-05-28 00:00:00,21926.289062,21580.500000,21612.900391,21916.310547,134000.0,21916.310547
17,2020-05-29 00:00:00,21955.439453,21710.800781,21807.630859,21877.890625,153200.0,21877.890625
18,2020-06-01 00:00:00,22161.390625,21898.990234,21910.890625,22062.390625,72200.0,22062.390625
19,2020-06-02 00:00:00,22401.789062,22118.400391,22175.519531,22325.609375,77900.0,22325.609375
20,2020-06-03 00:00:00,22818.869141,22462.679688,22649.009766,22613.759766,94100.0,22613.759766
21,2020-06-04 00:00:00,22907.919922,22501.810547,22885.140625,22695.740234,92000.0,22695.740234
22,2020-06-05 00:00:00,22865.880859,22563.560547,22613.080078,22863.730469,85600.0,22863.730469
23,2020-06-08 00:00:00,23178.099609,23028.619141,23121.980469,23178.099609,108500.0,23178.099609
24,2020-06-09 00:00:00,23185.849609,22933.140625,23135.789062,23091.029297,91500.0,23091.029297
25,2020-06-10 00:00:00,23175.820312,22900.300781,22939.000000,23124.949219,75600.0,23124.949219
26,2020-06-11 00:00:00,22939.390625,22466.539062,22848.019531,22472.910156,105900.0,22472.910156
27,2020-06-12 00:00:00,22350.300781,21786.929688,22082.119141,22305.480469,120500.0,22305.480469
28,2020-06-15 00:00:00,22251.830078,21529.830078,22135.269531,21530.949219,78500.0,21530.949219
29,2020-06-16 00:00:00,22624.140625,21899.480469,21912.289062,22582.210938,100100.0,22582.210938
30,2020-06-17 00:00:00,22536.380859,22318.070312,22517.140625,22455.759766,72500.0,22455.759766
31,2020-06-18 00:00:00,22432.250000,22125.349609,22363.880859,22355.460938,65200.0,22355.460938
32,2020-06-19 00:00:00,22523.660156,22352.160156,22515.750000,22478.789062,97000.0,22478.789062
33,2020-06-22 00:00:00,22575.740234,22311.939453,22353.689453,22437.269531,54600.0,22437.269531
34,2020-06-23 00:00:00,22693.890625,22257.140625,22636.060547,22549.050781,0.0,22549.050781
35,2020-06-24 00:00:00,22663.289062,22479.859375,22541.009766,22534.320312,67000.0,22534.320312
36,2020-06-25 00:00:00,22423.410156,22165.140625,22287.869141,22259.789062,80800.0,22259.789062
37,2020-06-26 00:00:00,22589.140625,22408.269531,22424.369141,22512.080078,66600.0,22512.080078
38,2020-06-29 00:00:00,22281.380859,21969.589844,22255.050781,21995.039062,73700.0,21995.039062
39,2020-06-30 00:00:00,22448.300781,22273.380859,22335.099609,22288.140625,74200.0,22288.140625
40,2020-07-01 00:00:00,22360.310547,22039.560547,22338.300781,22121.730469,67400.0,22121.730469

In [10]:
sql = '''
select max(Date), Min(Date) from N225
--where Date between '2020-05-01 00:00:00' and  '2020-05-31 00:00:00'
'''
conn = sqlite3.connect(dbname)
df_vlm = pd.read_sql(sql, conn)
conn.close()

In [11]:
df_vlm

             max(Date)            Min(Date)
0  2020-07-01 00:00:00  2015-06-01 00:00:00