In [ ]:
##Pythonで株価のデータ分析｜株価分析を通してPythonでのデータ分析を学びましょう
##https://www.youtube.com/watch?v=0-fZ47QudYo

#Pandas DataReaderをインストール
!pip install pandas_datareader

In [ ]:
#必要なパッケージをインポート
from pandas_datareader import data
import pandas as pd
import matplotlib.pyplot as plt

#ワーニング抑止
%matplotlib inline
# pd.core.common.is_list_like = pd.api.types.is_list_like

In [ ]:
#期間設定
start = '2015-06-01'
end = '2020-07-01'

#日経225平均を取得
df = data.DataReader('^N225', 'yahoo', start, end)

In [ ]:
#先頭10件表示
df.head(10)

In [ ]:
#INDEX表示
df.index

In [ ]:
#X軸、Y軸のデータを取得
date = df.index
price = df['Adj Close']

In [ ]:
#グラフを描画
plt.plot(date, price)

In [ ]:
##グラフ描画（オプション指定）
#グラフサイズ
plt.figure(figsize=(30, 10))
#グラフを描画
plt.plot(date, price, label='Nikkei225')
#グラフのスタイル
plt.title('N225', color='blue', backgroundcolor='white', size=40, loc='center')
plt.xlabel('date', color='black', size=30)
plt.ylabel('price', color='black', size=30)

#グラフ描画
plt.legend()

In [ ]:
#移動平均を求める
span01=5
span02=25
span03=50
df['sma01'] = price.rolling(window=span01).mean()
df['sma02'] = price.rolling(window=span02).mean()
df['sma03'] = price.rolling(window=span03).mean()

In [ ]:
#全行表示出来るようする
pd.set_option('display.max_rows', None)
#df
df.head(20)

In [ ]:
#グラフ描画(移動平均線をグラフに追加)
plt.figure(figsize=(30, 10))
plt.plot(date, price, label='Nikkei225', color='#99b898')
plt.plot(date,df['sma01'], label='sma01', color='#e84a5f')
plt.plot(date,df['sma02'], label='sma02', color='#ff847c')
plt.plot(date,df['sma03'], label='sma03', color='#feceab')

plt.title('N225', color='blue', backgroundcolor='white', size=40, loc='center')
plt.xlabel('date', color='black', size=30)
plt.ylabel('price', color='black', size=30)

plt.legend()

In [ ]:
#出来高のグラフを描画
plt.figure(figsize=(30,10))
plt.bar(date, df['Volume'], label='Volume', color='grey')

plt.legend()

In [ ]:
## N225,移動平均,出来高を一緒に表示してみる
#全体サイズ
plt.figure(figsize=(30,15))

#グラフ-１
plt.subplot(2,1,1)   # 縦分割数, 横分割数, 配置位置
plt.plot(date, price, label='Nikkei225', color='#99b898')
plt.plot(date,df['sma01'], label='sma01', color='#e84a5f')
plt.plot(date,df['sma02'], label='sma02', color='#ff847c')
plt.plot(date,df['sma03'], label='sma03', color='#feceab')
plt.legend()

#グラフ-2
plt.subplot(2,1,2)
plt.bar(date, df['Volume'], label='Volume', color='grey')
plt.legend()

In [ ]:
# ここからSQLITE３でDBを作ってみよう

import sqlite3

In [ ]:
dbname = 'STOCK.db'
conn = sqlite3.connect(dbname)
df.to_sql('N225', conn, if_exists = 'replace')
# Option => if_exists　: append, replace, fail
conn.close()

In [ ]:
conn = sqlite3.connect(dbname)
df_db = pd.read_sql('SELECT * FROM N225', conn)
conn.close()

In [ ]:
df_db.tail()

In [ ]:
sql = '''
select * from N225
where Date between '2020-05-01 00:00:00' and  '2020-05-31 00:00:00'
'''

In [ ]:
conn = sqlite3.connect(dbname)
df_vlm = pd.read_sql(sql, conn)
conn.close()

In [ ]:
df_vlm

In [ ]:
sql = '''
select max(Date), Min(Date) from N225
--where Date between '2020-05-01 00:00:00' and  '2020-05-31 00:00:00'
'''
conn = sqlite3.connect(dbname)
df_vlm = pd.read_sql(sql, conn)
conn.close()

In [ ]:
df_vlm